
<ion-app>
<ion-content color="warning">
  <!--hello name="{{ name }}"></hello>
  <p>Start editing to see some magic happen :)</p>


  <ion-button>GREAT IONIC BUTnTON</ion-button!-->


    <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Carlos & Bruna - Convite de Casamento</ion-title>
    </ion-toolbar>
  </ion-header>




    <ion-img
src="kkrying.jpg"
alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>


<ion-button id="BOTAO" href="https://www.instagram.com/kauaarichard/?next=%2F" >Local da Cerimonia</ion-button> 
<ion-button id="BOTAO" href="https://www.instagram.com/kauaarichard/?next=%2F" >Local da Recepção</ion-button>
<ion-button id="BOTAO" href="https://www.instagram.com/kauaarichard/?next=%2F" >Confirmar Presença</ion-button>
<ion-button id="BOTAO" href="https://www.instagram.com/kauaarichard/?next=%2F" >Lista de Presentes</ion-button>

</ion-content>
</ion-app>



