
<ion-app>
<ion-content color="warning">
  <!--hello name="{{ name }}"></hello>
  <p>Start editing to see some magic happen :)</p>


  <ion-button>GREAT IONIC BUTnTON</ion-button!-->


    <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Carlos & Bruna - Convite de Casamento</ion-title>
    </ion-toolbar>
  </ion-header>




    <ion-img
src="https://static.vecteezy.com/ti/vetor-gratis/p1/129548-ilustracao-gratuita-do-fundo-do-mar-vetor.jpg"
alt="The Wisconsin State Capitol building in Madison, WI at night"
></ion-img>


<ion-list>
<ion-list-header color="primary">
<ion-label color="warning">ARMÁRIO</ion-label>
</ion-list-header>
<ion-item color="warning">
<ion-label color="primary">COLEÇÃO</ion-label>
</ion-item>
<ion-item color="primary">
<ion-label color="warning">TRILHA</ion-label>
</ion-item>
</ion-list>

<ion-button  href="https://www.instagram.com/kauaarichard/?next=%2F" >Fazer Login</ion-button>
  <ion-button slot="primary">Fixed Button</ion-button>

</ion-content>
</ion-app>



