
<ion-app>
<ion-content color="warning">
  <!--hello name="{{ name }}"></hello>
  <p>Start editing to see some magic happen :)</p>


  <ion-button>GREAT IONIC BUTnTON</ion-button!-->

    <ion-img src="https://i.pinimg.com/564x/32/70/2d/32702d7e9b932d7068f9e9e8463908c6.jpg" height="DATA.jpg" alt=""></ion-img>

    <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="" href="https://www.instagram.com/kauaarichard/?next=%2F" > </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button id="" href="https://www.instagram.com/kauaarichard/?next=%2F" > </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button id="BOTAO" href="https://www.instagram.com/kauaarichard/?next=%2F" >Igreja </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="BOTAO" href="https://www.instagram.com/kauaarichard/?next=%2F" >Presença</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="" href="https://www.instagram.com/kauaarichard/?next=%2F" > </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="" href="https://www.instagram.com/kauaarichard/?next=%2F" > </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button id="" href="https://www.instagram.com/kauaarichard/?next=%2F" > </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button id="" href="https://www.instagram.com/kauaarichard/?next=%2F" > </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button id="BOTAO" href="https://www.instagram.com/kauaarichard/?next=%2F" >Cerimonia</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="BOTAO" href="https://www.instagram.com/kauaarichard/?next=%2F" > Lista de Presentes</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="" href="https://www.instagram.com/kauaarichard/?next=%2F" > </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="" href="https://www.instagram.com/kauaarichard/?next=%2F" > </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>

    <ion-img src="https://i.pinimg.com/564x/50/d4/d1/50d4d1d31ff31e09dea71086496aeef7.jpg" height="DATA.jpg" alt=""></ion-img>

</ion-content>
</ion-app>



